/*contact.htm styles*/

/*WHOLE PAGE STYLES*/
body * {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

div#body {
  background: #660020;
  height: 100%;
}

/*NAV STYLES*/
#footer_nav {
  background: #000000;
  align-items: center;
}

#footer_nav * {
  color: white;
  padding: 7px;
  padding-top: 5px;
  padding-bottom: 10px;
  text-decoration: none;
  font-size: 2vw;
}

/*BODY STYLES*/
#contact_form, #res_link {
  background: #fce6bb;
  border: 25px double #660020;
}

.container {
  padding-top: 2%;
}

div#address_phone {
  margin-top: 30px;
}

div#link {
  padding: 10px;
}

/*CONTACT FORM STYLES*/
form {
  margin-top: 20px;
}

form * {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  padding: 5px;
}

input[type="text"] {
  width: 100%;
}

textarea {
  width: 100%;
  resize: none;
  height: 35%;
  overflow-y: scroll;
}

/*RESERVATION TOOL LINK STYLES*/
a {
  text-decoration: none;
  color: black;
  font-size: 2vw;
}

section#res_link:hover, section#res_link:hover * {
  color: white;
  text-decoration: none;
  background-color: #91856d;
}
